@font-face {
  font-family: PrestigeElite;
  src: url(./fonts/prestigeelitestd-bd.otf);
}

@font-face {
  font-family: Betty Lavea;
  src: url(./fonts/BettyLavea.ttf);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PrestigeElite", sans-serif;
  min-width: 100%;
}

.no-shadows {
  box-shadow: none !important;
}

.divider {
  width: 85%;
  margin: auto;
  background-color: black !important;
}

.smallDivider {
  width: 60%;
}

#Landing,
#mobile-demo {
  background-color: #d4d6d4;
}

#landingHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("./images/storefront1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#landingHero nav,
.sidenav {
  font-family: "Playfair Display";
  text-transform: uppercase;
  color: white;
  padding-top: 5vh;
  font-size: 1.5rem;
}

.brand-logo {
  margin-left: 10%;
}

#landingHero nav ul {
  margin-right: 5%;
}

#landingHero nav ul li {
  margin: 0 1rem;
}

#landingHero nav ul li .landingNavbarLink {
  font-size: 1.2rem;
}

#landingHero nav ul li .landingNavbarLink:hover {
  transform: scale(1.1);
  transition: none;
  border-bottom: 2px solid #b66c6d;
}

#landingHero nav ul li i:hover {
  transform: scale(1.2);
  color: #b66c6d;
}

.socialMobileLink {
  transform: scale(1.5);
}

.brand-logo {
  height: 100%;
}

.navContainer {
  background-color: #646566;
  padding-right: 3%;
}

.navContainer nav ul li {
  padding: 0 1rem;
}

.navbarLink {
  font-size: 1.2rem;
  font-family: "Playfair Display";
  text-transform: uppercase;
}

.navbarLink:hover {
  color: #f4dad2;
}

.navContainer nav ul li i:hover {
  color: #b66c6d;
}

.aboutLink,
.serviceLink,
.contactLink,
.wellnessLink {
  color: #f4dad2;
}

#landingHeroContent {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#landingHeroContent h1 {
  font-weight: 400;
  font-size: 6rem;
  font-family: "Betty Lavea";
}

#landingHeroContent p {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "PrestigeElite";
}

#landingHeroContent .btn-large {
  border: 3px solid #b66c6d;
  border-radius: 10px;
  background-color: transparent;
  font-family: "PrestigeElite";
  font-size: 1.2rem;
}

#reviewSummary {
  padding-top: 2vh;
  padding-bottom: 3vh;
  background-color: white;
}

#Landing .slider {
  background-color: white;
  height: 275px !important;
}

#Landing .slide {
  padding-left: 10%;
  padding-right: 10%;
}

#Landing .previousButton,
#Landing .nextButton {
  display: none !important;
}

#Landing .slider .reviewTag {
  font-weight: 800;
  font-size: 4rem;
  font-family: "Playfair Display";
}

#Landing .slider h2 {
  font-size: 1.5rem;
}

#Landing .slider p {
  font-size: 1.2rem;
}

#reviewsButton {
  margin: 0 1rem;
  border-bottom: 3px solid #b66c6d;
  box-shadow: none;
  background-color: transparent;
  font-family: "PrestigeElite";
  font-size: 1.2rem;
}

#reviewsButton:hover {
  transform: scale(1.05);
}

#servicesSummary {
  height: 45vh !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("./images/hairspray.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Betty Lavea";
}

#serviceText {
  margin-left: 15%;
  padding-top: 6rem;
}

#serviceText h3 {
  font-size: 3.2rem;
  text-transform: uppercase;
}

#serviceText p {
  font-size: 1.5rem;
  font-family: "PrestigeElite";
}

#serviceText a {
  color: white;
  font-family: "PrestigeElite";
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #f06873;
}

#ourSalon {
  margin-top: 5vh;
  padding-bottom: 3vh;
  width: 85%;
  color: black;
}

#ourSalonInfo {
  padding-top: 4vh;
}

#salonPicture {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.6);
}

#ourSalonTitle {
  color: black;
  font-family: "Betty Lavea";
  letter-spacing: 1px;
  font-weight: 800;
}

#ourSalonText {
  line-height: 2rem;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
}

#ourSalonLink {
  color: #b66c6d;
  font-weight: bold !important;
  letter-spacing: 2px;
  box-shadow: 3px black;
  transition-duration: 1s;
}

#ourSalonLink:hover {
  transform: scale(1.1);
}

#aboutPage {
  background-color: white;
}

#aboutHero,
#servicesHero,
#wellnessHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("./images/salon.jpg");
  height: 25vh;
  background-attachment: fixed;
  background-position: 50% 110%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#aboutHero h1,
#servicesHero h1,
#wellnessHero h1 {
  font-family: "Betty Lavea";
  position: absolute;
  width: 50%;
  font-size: 5rem;
  padding-top: 2rem;
  color: white;
}

#aboutFlawless {
  width: 55%;
  margin: auto;
}

#aboutFlawless div {
  margin-top: 4rem;
  font-size: 1.1rem;
}

#aboutFlawless h3 {
  margin-top: 1rem;
  font-family: "Playfair Display";
}

#aboutPage .slider {
  margin: auto;
  width: 80%;
  padding: 5rem 0;
  height: 400px !important;
}

#aboutPage .slider .previousButton,
.nextButton {
  display: block;
}

#flawlessGallery img {
  height: 320px;
  width: 320px;
  border-radius: 3px;
}

#flawlessTeam {
  padding-top: 7.5rem;
}

#flawlessTeam h6,
#flawlessTeam h3 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#flawlessTeam h6 {
  font-family: "PrestigeElite";
  color: #b66c6d;
  font-size: 1.5rem;
}

#flawlessTeam h3 {
  font-family: "Betty Lavea";
  margin-top: 2rem;
  font-size: 5rem;
}

#teamCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.memberCard {
  margin: 5%;
  padding: 1%;
  width: 30%;
  border: 2px solid #b66c6d;
  border-radius: 2rem;
}

.memberImg img {
  border-radius: 2rem;
}

.memberRole,
.memberName {
  width: 50%;
  margin: auto;
}

.memberRole {
  color: #b66c6d;
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: bold;
}

.memberName {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-size: 3rem;
  font-family: "Betty Lavea";
}

.memberDescription {
  width: 90%;
  margin: auto;
}

#servicesPage {
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

#servicesHeader {
  font-family: "Betty Lavea";
}

#servicesHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("./images/ladybw.jpg");
  background-position: 60% 35%;
}

#servicesHero h1 {
  padding-top: 1rem;
  font-size: 6rem;
  width: 100%;
}

#headerUnderline {
  background-color: #b66c6d;
  width: 3%;
  height: 0.25rem;
  margin: auto;
  margin-bottom: 2.5rem;
  border-radius: 10px;
}

#headerUnderlineGreen {
  background-color: #b66c6d;
  width: 3%;
  height: 0.25rem;
  margin: auto;
  margin-bottom: 2.5rem;
  border-radius: 10px;
}

#polishedLink {
  color: #b66c6d;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #b66c6d;
}

#servicesHeader p {
  font-size: 1.1rem;
  font-family: "PrestigeElite";
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#servicePricing {
  margin: auto;
  width: 85%;
}

#bookingCTA a {
  background-color: #b66c6d;
  font-family: "PrestigeElite";
  border-radius: 10px;
  margin-bottom: 3rem;
}

.pricingSection {
  display: flex;
  flex-direction: column;
}

.treatmentCard {
  width: 100%;
  height: auto;
  margin-bottom: 3.5rem;
}

.priceItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.priceTitle {
  font-family: "Betty Lavea";
  font-weight: bold;
  letter-spacing: 1.5px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.priceHead {
  font-size: 2.5rem;
}

.stylists {
  font-size: 1.5rem;
}

.treatmentName,
.treatmentPrice,
.treatmentInfo {
  font-family: "PrestigeElite";
  font-weight: bold;
  font-size: 1.15rem;
}

.treatmentPrice {
  font-family: "PrestigeElite";
  font-weight: bold;
  color: #b66c6d !important;
}

.treatmentPrice,
.treatmentInfo {
  color: black;
}

.treatmentName {
  width: 75%;
}

.treatmentInfo {
  font-weight: 900;
}

#covidNotice {
  width: 85%;
  margin: auto;
}

#covidHeader h3 {
  margin-top: 3rem;
  font-family: "Betty Lavea";
  color: black;
  font-weight: 800;
}

#covidText {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.05rem;
}

#covidText ul {
  padding-left: 1rem;
}

#covidText ul li {
  list-style-type: disc;
  padding-bottom: 1rem;
}

#serviceFooter {
  margin-top: 4rem;
}

#wellnessPage {
  background-color: white;
}
#wellnessHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("./images/wellnessBanner.jpg");
  background-attachment: scroll;
  background-position: top;
  height: 40vh;
}

#wellnessHeader h1 {
  font-family: "Betty Lavea";
}

#wellnessHeader p {
  font-size: 1.1rem;
}

#wellnessContent {
  margin: auto;
  padding-top: 7.5rem;
  width: 80%;
}

.wellnessCard {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
}

.wellnessCardImg {
  border-radius: 5px;
}

.wellnessCardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 4rem;
}

.wellnessCardTitle {
  font-family: "Playfair Display";
  padding-bottom: 1rem;
}

.wellnessCardContent {
  font-family: "PrestigeElite";
  padding-bottom: 1.5rem;
}

.wellnessCardBtn {
  width: 15rem;
  border: 3px solid #b66c6d !important;
  border-radius: 10px !important;
  background-color: transparent !important;
  font-family: "PrestigeElite";
  font-size: 1.2rem;
  color: black !important;
}

.wellnessCardBtn:hover {
  text-decoration: underline;
}

#holisticSocials a {
  color: #b66c6d;
}

#holisticSocials a:hover {
  text-decoration: underline;
}

#wellnessRent {
  background-color: #b66c6d;
  font-family: "Playfair Display";
  margin-bottom: 3rem;
}

#wellnessRent .card-content p {
  font-family: "PrestigeElite";
}

#wellnessRentLink {
  color: white;
}

#contactPage {
  background-color: white;
  margin: 0;
  padding: 0;
}

#contactHeader {
  font-family: "Betty Lavea";
  color: black;
}

#contactHeader h1 {
  font-weight: 700;
  font-size: 5rem;
}

#contactHeader h5 {
  font-size: 1.5rem;
  font-family: "PrestigeElite";
}

#contactHeader h5 i {
  opacity: 0.8;
  margin: 0 1.5rem;
}

#contactFormContainer {
  margin: auto;
  margin-top: 3rem;
  width: 80%;
  background-color: white;
}

#contactBottom .container {
  margin-top: 10vh;
  height: 40vh;
}

/* label color */
.input-field label {
  color: #b66c6d !important;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "PrestigeElite";
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #b66c6d !important;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #b66c6d !important;
  box-shadow: 0 1px 0 0 #b66c6d !important;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #b66c6d;
  box-shadow: 0 1px 0 0 #b66c6d;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.input-field input[type="email"]:focus + label {
  color: #b66c6d !important;
}

/* label underline focus color */
.input-field input[type="email"]:focus {
  border-bottom: 1px solid #b66c6d !important;
  box-shadow: 0 1px 0 0 #b66c6d !important;
}
/* valid color */
.input-field input[type="email"].valid {
  border-bottom: 1px solid #b66c6d;
  box-shadow: 0 1px 0 0 #b66c6d;
}
/* invalid color */
.input-field input[type="email"].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

input[type="email"]:not(.browser-default).validate + label {
  color: #b66c6d !important;
}

/* label focus color */
.input-field input[type="text"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #b66c6d !important;
}

/* label underline focus color */
.input-field input[type="text"]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #b66c6d !important;
  box-shadow: 0 1px 0 0 #b66c6d !important;
}

.materilize-textarea.validate {
  color: #b66c6d !important;
  outline-color: #b66c6d !important;
}

#textarea.validate {
  outline-color: #b66c6d !important;
  margin-top: 0.5rem;
  height: 15vh;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #b66c6d !important ;
}

.input-field .btn-large {
  background-color: transparent !important;
  border: 3px solid #b66c6d !important;
  border-radius: 10px;
  font-family: "Betty Lavea";
  font-weight: bold;
  font-size: 1.25rem;
}

.input-field .btn-large:hover {
  box-shadow: 0 0 10px #b66c6d;
}

#submitForm {
  color: #b66c6d;
  font-family: "PrestigeElite ";
}

#conditionsInfo {
  font-weight: 600;
  margin-bottom: 2rem;
}

#conditionsInfo h4 {
  font-family: "Betty Lavea";
  padding-bottom: 1.5rem;
}

#conditionsInfo ul {
  list-style-type: circle;
  margin-bottom: 3rem;
}

#contactFooter {
  margin: 0;
}

#mapContainer {
  height: 50vh;
  padding: 0;
}

#map {
  background-image: url(./images/FlawlessMap.png);
  width: 100%;
  height: 60vh;
  background-position: center;
}

#contactBottom {
  background-color: #646566;
  height: 60vh;
  font-weight: bold;
  font-family: "Playfair Display";
  color: black;
}

#contactBottom h5 {
  font-weight: bold;
  letter-spacing: 1px;
}

#contactBottom a {
  color: black;
  font-family: "Playfair Display";
  font-weight: 600;
  letter-spacing: 1.5px;
}

#contactBottom h6 i {
  transform: scale(2.5);
  margin: 2.5rem 3rem;
  color: white;
}

#contactBottom h6 i:hover {
  transform: scale(2.6);
  color: #b66c6d;
}

#contactBottom button {
  background-color: #d4d5d4;
  border: 3px solid #d4d5d4;
  border-radius: 10px;
  color: #b66c6d;
}

#contactBottom button:hover {
  box-shadow: 0 0 10px #b66c6d;
}

#contactCopyright {
  display: flex;
  justify-content: center;
  position: relative;
  height: 5vh;
  margin-top: 1rem;
}

#contactCopyright p {
  position: absolute;
  bottom: 0;
}

footer {
  font-family: "PrestigeElite";
  color: black;
  background-color: white !important;
}

footer h5 {
  font-family: "Playfair Display";
  text-transform: uppercase;
  color: black;
}

footer p,
footer ul li {
  color: black;
  font-weight: 600;
}

.footer-copyright {
  background-color: white !important;
}

@media only screen and (max-width: 600px) {
  #landingHeroContent {
    top: 55%;
    left: 50%;
  }

  #landingHeroContent h1 {
    font-size: 5rem;
  }

  #reviewSummary {
    padding: 0;
  }

  #Landing .slider {
    height: 400px !important;
  }

  #servicesSummary {
    height: 70vh !important;
  }

  #serviceText h3 {
    line-height: 4rem;
  }

  #serviceText {
    margin-left: 5%;
    margin-right: 5%;
  }

  #serviceText h3 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  #ourSalonInfo {
    display: block;
  }

  #aboutHero {
    height: 45vh;
    display: flex;
    justify-content: center;
  }

  #aboutHero h1 {
    text-align: center;
  }

  #aboutPage .slider {
    margin: auto;
    width: 100%;
    padding: 5rem 0;
    height: 400px !important;
  }

  #aboutPage .slider .previousButton,
  .nextButton {
    display: none !important;
  }

  #flawlessGallery img {
    height: 320px;
    width: 320px;
    border-radius: 3px;
  }

  #flawlessTeam h3 {
    line-height: 7.5rem;
  }

  .teamCards {
    margin-top: 1rem;
  }

  #servicePricing {
    width: 100%;
  }

  .priceHead {
    line-height: 10rem;
  }

  .stylists {
    letter-spacing: 3px;
  }

  .priceTitle {
    flex-direction: column;
  }

  .priceItem {
    width: 100%;
  }

  .treatmentPrice {
    white-space: nowrap;
  }

  #bookingtext {
    margin-left: 0;
  }

  #conditionsInfo {
    margin: 0 3rem;
  }

  #contactBottom {
    height: 65vh;
  }
}

@media only screen and (max-width: 900px) {
  .brand-logo {
    margin-left: 0;
  }
  #landingHero,
  #aboutHero,
  #servicesHero {
    background-attachment: scroll;
  }
  #ourSalon {
    padding-left: 15vw;
  }

  .teamCards {
    width: 100%;
  }

  .memberCard {
    margin: 0;
    width: 65%;
    margin-bottom: 3rem;
  }

  .wellnessCard .row .col {
    padding: 0;
  }

  .wellnessCardText {
    display: block;
    padding-left: 0;
  }

  .wellnessCardImg {
    margin-bottom: 2.5rem;
  }

  .treatmentCard {
    width: 100%;
  }
}
